<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Seu primeiro nome:</label>
    <input id="name" formControlName="name">
    <div *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched">
      O nome é obrigatório.
    </div>
  </div>

  <div>
    <label for="email">Email:</label>
    <input id="email" formControlName="email">
    <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched">
      Insira um email válido.
    </div>
  </div>

  <div>
    <label for="advice">Qual conselho você gostaria de receber?</label>
    <input id="advice" formControlName="advice">
    <div *ngIf="contactForm.get('advice')?.invalid && contactForm.get('advice')?.touched">
      O conselho é obrigatório.
    </div>
  </div>

  <button type="submit" [disabled]="contactForm.invalid">Enviar</button>
</form>
