<app-header></app-header>
<main>
    <section class="main-section pad-70">
        <div class="headline">
            <span>Cycles Woman</span>
            <h1>Site feito para você mulher!!</h1>
        </div>
        <img ngSrc="/assets/woman1.png" width="669" height="536">
    </section>
    <section class="benefit-section pad-70">
        <div class="benefit-data">
             <h2>
                Ciclo<br/>
                Menstrual
            </h2> 
        </div>
        <p>Maioria das mulheres não sabem sobre a sua propria <b>saude</b>  vou te ajudar a entender sobre sua saude menstrual</p>
    </section>
    <section class="cta-section">
        <btn-primary btn-text="Conheça seu corpo: É fundamental entender e acompanhar seu próprio ciclo menstrual. 
        Tome nota das datas de início e término de cada período menstrual e observe as alterações físicas e emocionais que você experimenta ao longo do ciclo"></btn-primary>
        <br>
        <btn-primary btn-text="Cuide da sua saúde geral: Manter uma boa saúde geral é essencial para um ciclo menstrual saudável.
         Certifique-se de ter uma dieta equilibrada, rica em nutrientes, incluindo vitaminas e minerais importantes, como ferro e cálcio."></btn-primary>
        <br>
        <btn-primary btn-text="Converse com um profissional de saúde: 
        Se você tiver dúvidas ou preocupações sobre seu ciclo menstrual, é sempre recomendável buscar orientação de um profissional de saúde, como um médico ginecologista"></btn-primary>
    </section>

    <!-- topicos -->
    <section class="benefit-section pad-70">
        <benefit-card
            card-title="Relacionamento"
            img-path="/assets/work.jpg"
            card-description="Você pode ter vivido — ou estar vivendo — um relacionamento abusivo, mas nunca pensou por esse ângulo. Talvez veja pessoas próximas vivendo uma situação assim. Neste post, queremos mostrar como identificar os sinais, pois um tapa nunca é o primeiro a chegar."
        >
        </benefit-card>
        <benefit-card
            card-title="Mulheres no mercado de trabalho"
            img-path="/assets/trabalho.jpg"
            card-description="As mulheres no mercado de trabalho têm passado por uma evolução significativa ao longo das últimas décadas, embora ainda enfrentem desafios substanciais.O cenário das mulheres no mercado de trabalho é dinâmico e multifacetado, refletindo tanto os progressos já alcançados quanto os desafios que ainda precisam ser enfrentados para alcançar uma verdadeira igualdade de gênero."
       
>
        </benefit-card>
    </section>

    <section class="benefit-section pad-70">
        <benefit-card
            card-title="Estudo"
            img-path="/assets/estudo.jpg"
            card-description="Hoje, as mulheres constituem a maioria dos graduados universitários em muitos países e têm acesso a uma ampla gama de disciplinas e oportunidades educacionais. No entanto, desafios persistentes como disparidades salariais, barreiras de gênero em certas áreas acadêmicas e dificuldades enfrentadas por mulheres em contextos socioeconômicos desfavorecidos continuam a ser áreas de preocupação e foco para a promoção da igualdade na educação."
        >
        </benefit-card>
       
    </section>


    <section class="cta-section pad-70">
        <h2>Pesquisa</h2>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdAVnVcT1MH0aiJumqk3lYrp1sRDIjL9-KRizRZO9kpISNb9w/viewform?usp=sf_link" target="_blank">Clique aqui para preencher o formulário</a>

    </section>

    <iframe width="900" height="650" src="https://lookerstudio.google.com/embed/reporting/93a9a142-94e6-45f1-87e7-826750252c99/page/EYY3D" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>

    <section class="cta-section pad-70">
        <h2>Quer elevar seu software e seus<br/>
        negócios para outro nível?</h2>
        <btn-primary btn-text="fale com nossos especialistas"></btn-primary>
    </section>

    <app-footer></app-footer>
</main>
